*.class
*.war
*.jar
*.ear
footprint-core/.settings/
footprint-demo/.settings/
footprint-service-ear/.settings/
footprint-service-metadata/.settings/
footprint-service/.settings/
www/.settings
.settings
target
classes
.classpath
.project
*~
.*
!/.gitignore
